<p>Dear {{ user.username }}</p>
<p>To confirm our new email address  <a href="{{ url_for('auth.change_email', token=token, _external=True) }}">click here.</a></p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.change_email, token=token, _external=True }}</p>
<p>Sincerely,</p>
<p>The Flasky Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
