<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Flasky!</b></p>
<p>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True)}}">click here</a>.</p>
<p>Alternatively, you can past the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Flasky Team</p>
<p>Note: replies to this email address are not monitored.</p>