
{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>404 Page Not Found!!!</h1>
        <h2>(dun dun dahhhhhhh!!)</h2>
    </div>
</div>
{% endblock %}