
{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>500 Internal Server Error!</h1>
    </div>
</div>
{% endblock %}