{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ title }} {{ user.username }}{% endblock %}

{% block page_content%}
<div class="page-header">
    <h1>{{ title }} {{ user.username }}</h1>
</div>
<table class="table table-hover followers">
    <thead>
        <tr>
            <th>User</th>
            <th>Since</th>
        </tr>
    </thead>
    {% for follow in follows %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}">
                <img src="{{ follow.user.gravatar(size=32) }}" alt="{{ follow.user.username }} gravatar" class="img-rounded">
                {{ follow.user.username }}
            </a>
        </td>
        <td>
            {{ moment(follow.timestamp).format('L') }}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username ) }}
</div>
{% endblock %}